@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;600&display=swap');

.title {
  color: white;
  text-align: center;
  margin-bottom: 1rem;
}

.subtitle {
  font-weight: bold;
  color: rgb(218, 218, 218);
  text-align: center;
  margin-bottom: 3rem;
}

.inputs_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to start */
}

.inputs_container input {
  width: 95%;
  margin: 1.5rem auto;
  padding: 1rem;
  border-radius: 25px;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  outline: 0;
  border: 0;
  font-weight: bold;
}

.signup_button {
  display: block;
  margin: 3rem auto 1rem auto;
  width: 55%;
  padding: 0.75rem 1rem;
  border-radius: 25px;
  outline: 0;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  cursor: pointer;
  background-color: #DBFF00;
  color: black;
  border: 2px solid transparent;
}

.signup_button:hover {
  color: white;
  border: 2px solid #DBFF00;
  background-color: #000;
}

.link_container {
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.small {
  color: rgb(218, 218, 218);
  text-align: center;
  font-size: 0.85rem;
  text-decoration: underline;
  margin-bottom: 5rem;
  cursor: pointer;
}

.radio_container {
  background-color: #6e6d9d;
  padding: 0px 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-left: 110px;
}

.radio_option {
  display: flex;
  font-weight: bold;
  align-items: center;
  margin-right: 20px; /* Adjust the margin as needed */
}

.radio_option input:checked + label {
  color: #DBFF00;
  font-weight: bold;
}

.radio_heading {
  text-align: center;
  margin-left: 210px;
  font-size: 1.0rem;
  color: white;
  margin-bottom: 1rem;
}

label span {
  white-space: nowrap;
}

@media only screen and (max-width: 620px) {
  .inputs_container input {
    width: 100%;
  }

  .signup_button {
    width: 100%;
  }
}
